## Customer Complaint Classification Project

#### Purpose:

+ A seamless and great customer experience is one of the most important pillars in a successful business today
+ Companies spend lots of resources for consumer complaint handling and to ensure that the customers affected do not go to a competitor
+ That being said, there are ways in which Machine Learning can be applied, saving money and resources

In [12]:
import pandas as pd
import numpy as np
import re
import nltk
import matplotlib.pyplot as plt

nltk.download('stopwords')

from nltk.corpus import stopwords

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chaco\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
df = pd.read_csv('data/consumer_complaints.csv')

In [14]:
print(df.shape)
df.head(5)

(9999, 18)

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer Complaint,Company Public Response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date Sent to Company,Company Response to Consumer,Timely response?,Consumer disputed?,Complaint ID
0,3/12/14,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,M&T BANK CORPORATION,MI,48382,NaN,NaN,Referral,3/17/14,Closed with explanation,Yes,No,759217
1,10/1/16,Credit reporting,NaN,Incorrect information on credit report,Account status,I have outdated information on my credit repor...,Company has responded to the consumer and the ...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",AL,352XX,NaN,Consent provided,Web,10/5/16,Closed with explanation,Yes,No,2141773
2,10/17/16,Consumer Loan,Vehicle loan,Managing the loan or lease,NaN,I purchased a new car on XXXX XXXX. The car de...,NaN,"CITIZENS FINANCIAL GROUP, INC.",PA,177XX,Older American,Consent provided,Web,10/20/16,Closed with explanation,Yes,No,2163100
3,6/8/14,Credit card,NaN,Bankruptcy,NaN,NaN,NaN,AMERICAN EXPRESS COMPANY,ID,83854,Older American,NaN,Web,6/10/14,Closed with explanation,Yes,Yes,885638
4,9/13/14,Debt collection,Credit card,Communication tactics,Frequent or repeated calls,NaN,NaN,"CITIBANK, N.A.",VA,23233,NaN,NaN,Web,9/13/14,Closed with explanation,Yes,Yes,1027760

In [15]:
complaints = df[['Consumer Complaint', 'Product']]

In [16]:
complaints

                                     Consumer Complaint           Product
0                                                   NaN          Mortgage
1     I have outdated information on my credit repor...  Credit reporting
2     I purchased a new car on XXXX XXXX. The car de...     Consumer Loan
3                                                   NaN       Credit card
4                                                   NaN   Debt collection
...                                                 ...               ...
9994  Freedom Mortgage has paid my XX/XX/2014 XXXX X...          Mortgage
9995                                                NaN  Credit reporting
9996                                                NaN  Credit reporting
9997                                                NaN   Debt collection
9998  I started the process of a short sale on my ho...          Mortgage

[9999 rows x 2 columns]

In [17]:
complaints.isnull().sum()

Consumer Complaint    7885
Product                  0
dtype: int64

In [18]:
complaints = complaints.dropna()

In [20]:
complaints.isnull().sum()

Consumer Complaint    0
Product               0
dtype: int64